PORT=3000
HOST=0.0.0.0
NODE_ENV=production

# Server Security & Rate Limiting
RATE_LIMIT_MAX=60
RATE_LIMIT_WINDOW_MS=60000
ADMIN_API_KEY=super-secret-admin-key

# TMDB Multiple API Keys (Add as many as needed)
TMDB_ENABLED=true
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_KEY_1=91eebcbca31321a0b6f7b54e6bf377b0


# Cache Configuration
CACHE_ENABLED=true
CACHE_MAX_ITEMS=5000